{% extends "admin/base.twig" %}

{% block body %}

    <div align='left'>
        <a  class="btn green" href="{{ constant('BASEPATH') }}/adduser/{{pageHeading}}">Add {{pageHeading}} &nbsp;<i class="fa fa-plus"></i></a>
    </div>
    <br><br>

    <table cellpadding="5" border="1" class="table table-striped table-hover table-bordered">
        <thead>
            <tr class="info">
                <th>
                    User Id
                </th>
                <th>
                    Name
                </th>
                <th>
                    Email Id
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            {% for singleUserData in userData %}
                <tr>
                    <td>
                        {{singleUserData.id}}
                    </td>
                    <td>
                        {{singleUserData.userName}}
                    </td>
                    <td>
                        {{singleUserData.userEmail}}
                    </td>
                    <td>
                        <a class="btn blue btn-outline" href='{{ constant('BASEPATH') }}/edituser/{{pageHeading}}/{{singleUserData.id}}' data-toggle="tootltip" data-placement="bottom" title="Edit">Edit &nbsp; <i class="fa fa-pencil-square-o"></i></a>
                        <a class="btn red btn-outline" href='{{ constant('BASEPATH') }}/deleteuser/{{pageHeading}}/{{singleUserData.id}}' data-toggle="tootltip" data-placement="bottom" title="Delete">Delete &nbsp; <i class="fa fa-user-times"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div align="center">
        {% for message in app.session.getFlashBag.get('admin_message') %}
            <p>{{message}}</p>
        {%endfor%}
    </div>

{% endblock %}