{% extends "admin/base.twig" %}

{% block body %}

    <div align='left'>
        <a class="btn green" href="{{ constant('BASEPATH') }}/addcategory">Add Category &nbsp;<i class="fa fa-plus"></i></a>
    </div>
    <div align="center" class="col-md-6">
        {% for message in app.session.getFlashBag.get('admin_message') %}
            <p>{{message}}</p>
        {%endfor%}
    </div>

    <br><br>
    <table cellpadding="5" border="1" class="table table-striped table-hover table-bordered">
        <thead>
            <tr  class="info">
                <th>
                    Category Id
                </th>
                <th>
                    Category Name
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
                <tr>
                    <td>
                        {{ category.id }}
                    </td>
                    <td>
                        {{ category.categoryName }}
                    </td>
                    <td>
                        <a class="btn blue btn-outline" href="{{ constant('BASEPATH') }}/editCategory/{{ category.id }}" data-toggle="tootltip" data-placement="bottom" title="Edit"><i class="fa fa-pencil-square-o"></i>&nbsp; Edit</a> 
                        <a class="btn red btn-outline" href="{{ constant('BASEPATH') }}/deleteCategory/{{ category.id }}" data-toggle="tootltip" data-placement="bottom" title="Delete"><i class="fa fa-trash"></i>&nbsp; Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}