{% extends "admin/base.twig" %}

{% block body %}

    <h3>
        Category - sub category setting
    </h3>
    <div align='left'>
        <a class="btn btn-primary" href="/addcategory">Add Category</a>
    </div>
    <div align="center" class="col-md-6">
        {% for message in app.session.getFlashBag.get('admin_message') %}
            <p>{{message}}</p>
        {%endfor%}
    </div>

    <br><br>
    <table cellpadding="5" border="1" class="table table-striped table-bordered">
        <thead>
            <tr  class="info">
                <th>
                    Category Id
                </th>
                <th>
                    Category Name
                </th>
                <th>
                    Edit category
                </th>
                <th>
                    Delete category
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
                <tr>
                    <td>
                        {{ category.cid }}
                    </td>
                    <td>
                        {{ category.categoryName }}
                    </td>
                    <td align="center">
                        <a class="btn btn-info" href="/editCategory/{{ category.cid }}">Edit</a> 
                    </td>
                    <td align="center">
                        <a class="btn btn-danger" href="/deleteCategory/{{ category.cid }}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}