{% extends 'admin/base.twig' %}

{% block body %}

    <p>Email Id: {{email}}</p>

    <br><br>

    <table  cellpadding="5" border="1" class="table table-striped table-hover table-bordered">
        <thead>
            <tr class="info">
                <th>
                    Exam id
                </th>
                <th>
                    Date of exam generated
                </th>
                <th>
                    Date of exam completed
                </th>
                <th>
                    Total questions
                </th>
                <th>
                    Total correct answers
                </th>
                <th>
                    Is qualified?
                </th>
            </tr>
        </thead>
        <tbody>
            {% for singledata in examdata %}
                <tr>
                    <td>
                        <a href = '{{ constant('BASEPATH') }}/examdetail/{{ singledata.id }}'>{{singledata.id}}</a>
                    </td>
                    <td>
                        {%if singledata.created != null %}{{singledata.created|date('d-M-Y H:i:s')}}{% else %}N/A{% endif %}
                    </td>
                    <td>
                        {%if singledata.completed != null %}{{singledata.completed|date('d-M-Y H:i:s')}}{% else %}N/A{% endif %}
                    </td>
                    <td>
                        {%if singledata.totalQuestions is defined %}{{singledata.totalQuestions}}{% endif %}
                    </td>
                    <td>
                        {%if singledata.correctAnswersCount != '' %}{{singledata.correctAnswersCount}}{% else %}N/A{% endif %}
                    </td>
                    <td>
                        {%if singledata.isQualified is defined and singledata.isQualified == false %}No{% else %}Yes{% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href='{{ constant('BASEPATH') }}/usersetting' class='btn btn-primary' >Back to user settings</a>
</div>
{% endblock %}