{% extends "admin/base.twig" %}

{% block body %}

    <div align='left'>
        <a class="btn green" href="{{ constant('BASEPATH') }}/questionupload">Add Question &nbsp;<i class="fa fa-plus"></i></a>
    </div>

    <br><br>
    <table cellpadding="5" border="1" class="table table-striped table-hover table-bordered">
        <thead>
            <tr  class="info">
                <th>
                    Question Id
                </th>
                <th>
                    Question
                </th>
                <th>
                    Question Category
                </th>
                <th>
                    Difficulty level
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            {% for question in questions %}
                <tr>
                    <td>
                        {{ question.id }}
                    </td>
                    <td>
                        {{ question.question|striptags }}
                    </td>

                    <td>
                        {{ question.categoryId.categoryName }}
                    </td>
                    <td>
                        {% if question.difficultyLevel == "0" %}Beginner{% elseif question.difficultyLevel == "1" %}Intermediate{% elseif question.difficultyLevel == "2" %}Expert{% else %}{% endif %}
                    </td>
                    <td>
                        <a class="btn blue btn-outline" href="{{ constant('BASEPATH') }}/editQuestion/{{ question.id }}" data-toggle="tootltip" data-placement="bottom" title="Edit"><i class="fa fa-pencil-square-o"></i>&nbsp;Edit</a> 
                        <a class="btn red btn-outline" href="{{ constant('BASEPATH') }}/deleteQuestion/{{ question.id }}" data-toggle="tootltip" data-placement="bottom" title="Delete"><i class="fa fa-trash"></i>&nbsp;Delete</a>
                    </td>
                </tr>
            {% endfor %}

        </tbody>
    </table>

{% endblock %}