{% extends "admin/base.twig" %}

{% block body %}

    <div align='left'>
        <a class="btn btn-primary" href="/questionupload">Add Question</a>
    </div>

    <br><br>
    <table cellpadding="5" border="1" class="table table-striped table-hover table-bordered">
        <thead>
            <tr  class="info">
                <th>
                    Question Id
                </th>

                <th>
                    Question
                </th>

                <th>
                    Question Category
                </th>

                <th>
                    Edit question
                </th>
                <th>
                    Delete question
                </th>
            </tr>
        </thead>
        <tbody>
            {% for question in questions %}
                <tr>
                    <td>
                        {{ question.id }}
                    </td>
                    <td>
                        {{ question.question|striptags }}
                    </td>

                    <td>
                        {{ question.categoryId.categoryName }}
                    </td>
                    <td align="center">
                        <a class="btn btn-info" href="/editQuestion/{{ question.id }}">Edit</a> 
                    </td>
                    <td align="center">
                        <a class="btn btn-danger" href="/deleteQuestion/{{ question.id }}">Delete</a>
                    </td>
                </tr>
            {% endfor %}

        </tbody>
    </table>

{% endblock %}