{% extends "admin/base.twig" %}

{% block body %}
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"> 
    </div>

    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9"> 
        <h3>
            {{pageHeading}} Settings
        </h3>

        <div align="left">
            <a class="btn btn-primary" href="/adduser/{{pageHeading}}">Add {{pageHeading}}</a>
        </div>

        <br><br>
        <table cellpadding="5" border="1" class="table table-striped table-bordered" id='userTable'>
            <thead>
                <tr class="info">
                    <th>
                        User Id
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Email Id
                    </th>
                    <th>
                        Location
                    </th>
                    <th>
                        Address
                    </th>
                    <th>
                        Resumé
                    </th>
                    <th>
                        Edit user data
                    </th>
                    <th>
                        Delete user data
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for singleUserData in userData %}
                    <tr>
                        <td>
                            {{singleUserData.id}}
                        </td>
                        <td>
                            {{singleUserData.username}}
                        </td>
                        <td>
                            <a href = '/viewHistory/{{singleUserData.email}}'>{{singleUserData.email}}</a>
                        </td>
                        <td>
                            {{singleUserData.location}}
                        </td>
                        <td>
                            {{singleUserData.user_address|striptags}}
                        </td>
                        <td>
                            <a class="btn btn-default" href="/viewfile/{{singleUserData.id}}" target="_blank">View resumé</a>
                        </td>
                        <td align="center">
                            <a class="btn btn-info" href='/edituser/{{pageHeading}}/{{singleUserData.id}}'>Edit</a>
                        </td>
                        <td align="center">
                            <a class="btn btn-danger" href='/deleteuser/{{pageHeading}}/{{singleUserData.id}}'>Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% for message in app.session.getFlashBag.get('admin_message') %}
            <div align="center">
                <p>{{message}}</p>
            </div>
        {%endfor%}

    </div>

    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"> 
    </div>
{% endblock %}