{% extends 'base.twig' %}

{% block body %}
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
    
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
        <h3>
            Examination
        </h3>
        
    <form action="/examsubmit" method="post">
        <input type="hidden" name="qid" value="{{displayQuestion.qid}}">
        <p>{{displayQuestion.question|striptags}}</p>
        <div class="form-group">
            Option A:<br>
            <input type="radio" name="answer" value="option_a">
            {{displayQuestion.optionA|striptags}}
        </div>
        <div class="form-group">
            <input type="radio" name="answer" value="option_b">
            Option B:<br>
            {{displayQuestion.optionB|striptags}}
        </div>
        <div class="form-group">
            <input type="radio" name="answer" value="option_c">
            Option C:<br>
            {{displayQuestion.optionC|striptags}}
        </div>
        <div class="form-group">
            <input type="radio" name="answer" value="option_d">
            Option D:<br>
            {{displayQuestion.optionD|striptags}}
        </div>
        
        <div class="form-group">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </form>
        
    </div>
{% endblock %}